<div class="container text-center">
<h1>Teams</h1>

<ul class="list-inline row g-5">
  <% @teams.each do |team| %>
    <li class="list-inline-item col-lg-2"><%= link_to team.name, team %>
  </li>
  <% end %>
</ul>
</div>