<%= link_to('See all conferences', {controller: 'conferences', action: 'index'}) %>
<div class="container text-center">
<h1><%= @conference.name %> Conference</h1>
<h3><%= @conference.name %> Conference Divisions</h3>
  <ul class="list-inline row g-5">
  <% @divisions.each do |division| %>
        <li class="list-inline-item col"><%= link_to division.name, division %></li>
  <% end %>
</ul>
</div>