<%= link_to('See all conferences', {controller: 'conferences', action: 'index'}) %>
<h1><%= @conference.name %> Conference</h1>
<h3><%= @conference.name %> Conference Divisions</h3>
<ul>
  <% @divisions.each do |division| %>
  <li><%= link_to division.name, division %></li>
  <% end %>
</ul>