<div class="container text-center">
  <h1>Divisions</h1>
  <ul class="list-inline">
    <div class="row g-5">
      <% @divisions.each do |division| %>
      <div class="col-lg-3">
        <li class="list-inline-item">
          <%= link_to division.name, division %>
        </li>
      </div>
      <% end %>
    </div>
  </ul>
</div>
