<h1>All Divisions</h1>

<%= link_to('Back to Home', {controller: 'home', action: 'index'}) %>

<ul>
  <% @divisions.each do |division| %>
  <li>
    <a href="/divisions/<%= division.id %>">
      <%= division.name %>
    </a>
  </li>
  <% end %>
</ul>
