<div class="container text-center">
  <h1>Divisions</h1>
  <ul class="list-inline row g-5">
      <% @divisions.each do |division| %>
        <li class="list-inline-item col">
          <%= link_to division.name, division %>
        </li>
      <% end %>
  </ul>
</div>
