<h1>NBA Database</h1>
<p>Welcome to the NBA Database!</p>
<ul>
    <li><%= link_to('Players', players_path)%><br/></li>
    <li><%= link_to('Teams', teams_path)%><br/></li>
    <li><%= link_to('Divisions', divisions_path)%><br/></li>
    <li><%= link_to('Conferences', conferences_path)%><br/></li>
</ul>