<h1>All Players</h1>

<a href="/">Go back</a>

<ul>
  <% @players.each do |player| %>
  <li>
    <a href="/players/<%= player.id %>">
      <%= player.first_name %> <%= player.last_name %>
    </a>
  </li>
  <% end %>
</ul>