<%= link_to('Back to Home', {controller: 'home', action: 'index'}) %>
<h1>Players</h1>
<ul>
  <% @players.each do |player| %>
    <li>
      <%= link_to "#{player.first_name} #{player.last_name}", player %>
    </li>
  <% end %>
</ul>

<%= will_paginate @players %>